.clearfix, .nav, .nav--inline, .nav--float, .container {
	zoom: 1;
}

.clearfix:before, .nav:before, .nav--inline:before, .nav--float:before, .container:before, .clearfix:after, .nav:after, .nav--inline:after, .nav--float:after, .container:after {
	content: "";
	display: table;
}

.clearfix:after, .nav:after, .nav--inline:after, .nav--float:after, .container:after {
	clear: both;
}
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

body {
	margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}
audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
	color: inherit;
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	/* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}

/**
 * RESET
 */
/**

    */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * The usual...
 */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr {
	margin: 0;
	padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
	cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
a, u, ins {
	text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
ins {
	border-bottom: 1px solid;
}

/**

 */
img {
	font-style: italic;
}

/**
 * Give form elements some cursor interactions...
 */
label, input, textarea, button, select, option {
	cursor: pointer;
}

.text-input:active, .text-input:focus, textarea:active, textarea:focus {
	cursor: text;
	outline: none;
}

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment, .hljs-title {
	color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable, .hljs-attribute, .hljs-tag, .hljs-regexp, .ruby .hljs-constant, .xml .hljs-tag .hljs-title, .xml .hljs-pi, .xml .hljs-doctype, .html .hljs-doctype, .css .hljs-id, .css .hljs-class, .css .hljs-pseudo {
	color: #c82829;
}

/* Tomorrow Orange */
.hljs-number, .hljs-preprocessor, .hljs-pragma, .hljs-built_in, .hljs-literal, .hljs-params, .hljs-constant {
	color: #f5871f;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title, .css .hljs-rules .hljs-attribute {
	color: #eab700;
}

/* Tomorrow Green */
.hljs-string, .hljs-value, .hljs-inheritance, .hljs-header, .ruby .hljs-symbol, .xml .hljs-cdata {
	color: #718c00;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
	color: #3e999f;
}

/* Tomorrow Blue */
.hljs-function, .python .hljs-decorator, .python .hljs-title, .ruby .hljs-function .hljs-title, .ruby .hljs-title .hljs-keyword, .perl .hljs-sub, .javascript .hljs-title, .coffeescript .hljs-title {
	color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword, .javascript .hljs-function {
	color: #8959a8;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: white;
	color: #4d4d4c;
	padding: 0.5em;
	-webkit-text-size-adjust: none;
}

.coffeescript .javascript, .javascript .xml, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata {
	opacity: 0.5;
}

hr {
	clear: both;
	margin-bottom: 24px;
	border: none;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 12px;
	height: 1px;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 100%;
	max-width: 100%;
	font: 100%/1.5 "Open Sans", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	max-width: 100%;
	overflow-x: hidden;
	background: #fff;
	color: #333333;
	text-rendering: optimizeLegibility;
}

.lede {
	font-size: 20px;
	font-size: 1.25rem;
}

table tr td:first-child {
	white-space: nowrap;
	font-weight: bold;
}

table td {
	padding: 12px 6px;
}

table tbody tr:nth-child(odd) {
	background: #fafafa;
}

/**
 * Inline using floats
 */
.nav, .nav--inline, .nav--float {
	margin-left: 0;
	list-style: none;
}

.nav > li > a, .nav > li > .nav--inline, .nav > li > .nav--float {
	display: block;
}

.nav > li.active > a, .nav > li.active > .nav--inline, .nav > li.active > .nav--float {
	cursor: default;
}


/**
 * Horizontal using inline-block
 */
.nav--inline > li {
	display: inline-block;
}

.nav--inline > li.active a {
	color: grey;
}

.nav--inline > li > a {
	display: inline-block;
}

/**
 * Horizontal using float
 */
.nav--float > li {
	float: left;
}

.button {
	display: inline-block;
	border: 0;
	padding: 12px 24px;
	width: auto;
	vertical-align: middle;
	background: #cccccc;
	color: #256b8d;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}

.button:hover, .button:focus {
	background: #cccccc;
	color: #000;
	text-decoration: none;
}

.button:active {
	background: #000;
	color: #fff;
}

.button + .button, .button + a {
	margin-left: 12px;
}

.button--primary {
	background: #da4453;
	color: #fff;
}

.button--primary:hover, .button--primary:focus {
	background: #de5967;
	color: #fff;
}

.button--primary:active {
	background: #c42737;
	color: #fff;
}

.button--secondary {
	background: blue;
	color: #fff;
}

.button--alt {
	background: orange;
	color: #fff;
}

/**
 * VARIABLES
 */
/*================================================================================
PALETTE
================================================================================*/
/**
 * Brand
 */
/**
 * Neutrals
 */
/**
 * Special
 */
/*================================================================================
TYPOGRAPHY
================================================================================*/
/**
 * Base
 */
/**
 * Headings
 */
/**
 * Fixed width
 */
/**
 * Special
 */
/*================================================================================
LAYOUT
================================================================================*/
/**
 * Spacing
 */
/**
 * Radii
 */
/**
 * Grids
 */
h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, address, ul, ol, dl, table, fieldset, figure, figcaption, details, pre {
	margin-bottom: 12px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #1b2032;
	font-weight: 700;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small {
	font-size: inherit;
	font-weight: normal;
}

h1, .h1 {
	margin-bottom: 24px;
	padding-top: 24px;
	font-size: 32px;
	font-size: 2rem;
}

@media only screen and (min-width: 600px) {
	h1, .h1 {
		font-size: 48px;
		font-size: 3rem;
	}
}

h2, .h2 {
	margin-bottom: 24px;
	padding-top: 24px;
	font-size: 32px;
	font-size: 2rem;
}

h3, .h3 {
	padding-top: 12px;
	font-size: 20px;
	font-size: 1.25rem;
}

h4, .h4 {
	margin-bottom: 0;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h5, .h5 {
	font-size: 16px;
	font-size: 1rem;
}

h6, .h6 {
	font-size: 16px;
	font-size: 1rem;
}

a {
	color: #256b8d;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
	color: #000;
}

a [class^="icon-"], a [class*=" icon-"] {
	text-decoration: none;
}

.site-header {
	background: #fbfbfb;
	text-align: center;
	padding: 0.5em 0;
	border-bottom: 1px solid #f4f4f4;
	border-top: 5px solid #bfd610;
}

@media only screen and (min-width: 600px) {
	.site-header {
		padding: 1em 0;
		margin-bottom: 24px;
	}
}

/**
 * Main site title
 */
.site-title {
	font-size: 20px;
	font-size: 1.25rem;
	padding: 3px;
	font-weight: bold;
	display: block;
	color: black;
}

@media only screen and (min-width: 600px) {
	.site-title {
		font-size: 30px;
		font-size: 1.875rem;
		margin-bottom: 12px;
	}
}

.site-title:hover {
	text-decoration: none;
	color: #256b8d;
}

.site-nav {
	display: block;
}

.site-nav a {
	text-transform: uppercase;
	padding: 0.2em 0.4em;
	margin-left: 10px;
	border-radius: 3px;
}

.site-nav a:first-child {
	margin-left: 0;
}

.site-nav a:hover {
	color: black;
	text-decoration: none;
}

.site-nav a.active {
	color: grey;
	cursor: default;
}

.site-nav a.active:hover {
	text-decoration: none;
}

.site-footer {
	margin-top: 24px;
	padding: 24px 0;
	border-top: 1px solid #f4f4f4;
	border-bottom: 5px solid #bfd610;
	text-align: center;
	background: #fbfbfb;
}

.site-footer a {
	color: black;
}

.social-links a {
	color: grey;
	padding: 0.5em;
}

.social-links a:hover {
	text-decoration: none;
	color: black;
}

.footer-heading {
	font-size: 20px;
	font-size: 1.25rem;
}

.github-icon-svg, .twitter-icon-svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}

.wrapper {
	clear: both;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
}

.wrapper--alt {
	background: #f2f2f2;
}

.container {
	margin: 0 auto;
	padding-right: 12px;
	padding-left: 12px;
	width: auto;
	max-width: 740px;
	list-style: none;
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
	.container {
		padding-right: 24px;
		padding-left: 24px;
	}
}

@media only screen and (min-width: 788px) {
	.container {
		width: 740px;
	}
}

/**
 * Base typography styles
 */
code, samp {
	font-size: 15px;
	font-size: 0.875rem;
	font-family: monospace;
	padding: 0px 3px;
	border-radius: 3px;
	border: 1px solid #e9e9e9;
}

pre code {
	padding: 0px;
	border: 0;
}

/**
 * The wrapper that is provided by the syntax highlighter
 */
pre {
	background: #FBFBFB;
	padding: 12px;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: 24px;
	border: 1px solid #f1f1f1;
	border-radius: 0;
	margin-top: 40px;
	line-height: 1;
}

pre:last-child {
	margin-bottom: 0;
}

@media (min-width: 600px) {
	pre:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

@media (min-width: 600px) {
	pre {
		padding: 36px;
		margin-left: -36px;
		margin-right: -36px;
		margin-bottom: 48px;
	}
}

.post-content {
	margin-bottom: 48px;
}

.post-content ul, .post-content ol {
	display: block;
	padding-top: 12px;
	padding-left: 36px;
	margin-bottom: 24px;
}

/**
 * List of posts
 */
.posts {
	list-style: none;
}

.posts li {
	border-bottom: 1px solid #f1f1f1;
	padding-top: 1em;
}

.post-date {
	color: grey;
	font-size: 12px;
	font-size: 0.75rem;
	display: block;
}

.post-link {
	display: block;
	font-size: 18px;
	font-size: 1.125rem;
	text-transform: uppercase;
	padding: 0.3em 0 1em;
}

.post-header .meta {
	color: #C7C7C7;
	text-transform: uppercase;
}

.pagination {
	border-top: 1px solid #f2f2f2;
	padding-top: 24px;
}

@media only screen and (min-width: 600px) {
	.pagination .prev {
		width: 50%;
		float: left;
	}

	.pagination .next {
		width: 50%;
		float: right;
		text-align: right;
	}
}
